{% extends "base.html.twig" %}

{% block body %}
<a href="{{ path('index')}}"><button type="submit">Retour</button></a>
    <div class="en-tete">
        <img src="{{asset(jeux.img)}}">
        <div class="jeuName">{{ jeux.name }}</div>
    </div>
    <section class="container">
        <h2>Liste des Pokémons</h2>
        {% for pokemon in pokemons %}
            <div class="pokemons">
                <h2>{{pokemon.name}}</h2>
            </div>
        {% endfor %}
        {% for sprite in sprites %}
            <div class="pokemons-sprite">
            <img src={{sprite}}>
            </div>
        {% endfor %}
    </section>
    
{% endblock %}