{% extends "base.html.twig" %}

{% block body %}
<a href="{{ path('index')}}"><button type="submit">Retour</button></a>
    <div class="en-tete">
        <img src="{{asset(jeux.img)}}">
        <div class="jeuName">{{ jeux.name }}</div>
    </div>
    <section class="container">
        <h2>Liste des Pokémons</h2>
        <div class="allPkmns">
            {% for pokemon in pokemons %}
                <div class="pokemons">
                    <img src="{{ pokemon.sprites }}">
                    <p>{{pokemon.name}}</p>
                </div>
            {% endfor %}
        </div>
        <button>Crée équipe</button>

        <div class="equipe"></div>
    </section>
    
{% endblock %}