{% extends "base.html.twig" %}

{% block body %}
<a href="{{ path('index')}}"><button type="submit">Retour</button></a>
    <div class="en-tete">
        <img src="{{asset(jeux.img)}}">
        <div class="jeuName">{{ jeux.name }}</div>
    </div>
    <section class="container">
        <h2>Liste des Pokémons</h2>
        <div class="allPkmns">
            {% for pokemon in pokemons %}
                <div class="pokemons">
                    <a href="{{ path('pokemon_details', {'id':pokemon.id})}}">
                    {# <div class="card">
                        <img class="card-img-top" src="{{ pokemon.sprites }}">
                        <div class="card-body">
                            <p class="card-text">{{pokemon.name}}</p>
                        </div>
                    </div> #}
                        <img class="card-img-top" src="{{ pokemon.sprites }}">
                        <p class="card-text">{{pokemon.name}}</p>
                    </a>
                    {# <a href="{{ path('equipe', {'id':pokemon.id})}}"><button>Selectionner</button></a> #}
                </div>
            {% endfor %}
        </div>
        {# <a href="{{ path('createEquipe') }}"><button>Crée équipe</button></a> #}

        
    </section>
    
{% endblock %}